body {
    /*background-color: black;
    color: white;*/
}

#navbar {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-align:center;
}
#weightNumber {
    margin-left: 150px;
}
.ng-table-pager {
    display: none;
}
/* Progress bar*/
#progressBar {
    /* margin-top: 40px; */
}
#buttonRow {
    padding-top: 2.5%;
}
#isConnected {
    padding-left: 1.5em;
}