<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>ClientOne Communication</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.7/angular-material.min.css">
    <link rel="stylesheet" ; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
    <link href="Scripts/main.css" rel="stylesheet" />
</head>
<body ng-app="ScaleCrud">
    <div ng-controller="ScaleCrudController as c">
        <div class="container-fluid" id="navbar">
            <h1>SignalR Connector Alpha v.1</h1>
        </div>
        <div class="container-fluid" id="ScaleBar">
            <h3>Ingredient List</h3>
        </div>
        <!-- Table -->
        <div class="container col-lg-10" id="tableBox">
            <table ng-table="c.tableParams" class="table" show-filter="false">
                <tr ng-repeat="row in $data">
                    <td title="'Status'" filter="{ Status: 'text'}" sortable="'Status'">
                        {{row.Status}}
                    </td>
                    <!--<td filter="{ BaseRGB: 'rgb'}" sortable="'BaseRGB'">
                </td>-->
                    <td title="'Base'" filter="{ Base: 'text'}" sortable="'Base'">
                        {{row.Base}}
                    </td>
                    <td title="'Description'" filter="{ Description: 'text'}" sortable="'Description'">
                        {{row.Description}}
                    </td>
                    <td title="'Amount'" filter="{ Amount: 'number'}" sortable="'Amount'">
                        {{row.Amount}}
                    </td>
                    <td title="'CumAmt'" filter="{ CumAmt: 'number'}" sortable="'CumAmt'">
                        {{row.CumAmt}}
                    </td>
                    <td title="'PouredAmt'" filter="{ PouredAmt: 'number'}" sortable="'PouredAmt'">
                        {{row.PouredAmt}}
                    </td>
                </tr>
            </table>

        </div>
        <!-- ^  Table ^ -->
        <!-- Progress bar -->
        <div class="container" id="containerProgress">
            <div class="col-lg-8 progress" id="progressBar">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0"
                     aria-valuemax="100"></div>
            </div>
            <div class="col-lg-2">
                <p id="incomingData"></p>
                <p ng-bind="c.currentScale"></p>
                <p>{{c.message}}</p>
            </div>
        </div>
        <!-- Button Row -->
        <div class="container container-fluid" id="buttonRow">
            <div class="row">
                <div class="col-md-3" id="ConnectServer">
                    <button class="btn btn-primary" ng-click="c.btnConnect()">SignalR Connect</button>
                    <p id="isConnected" ng-model="isConnected">{{c.isConnected}}</p>
                </div>
                <div class="col-md-3" id="Get Weight">
                    <button class="btn btn-success" ng-click="c.btnWeight()">Get Weight</button>
                </div>
                <div class="col-md-3" id="Message">
                    <input type="text" placeholder="Input your message here" ng-model="message" id="message" />
                </div>
                <div class="col-md-3" id="SendMessage">
                    <button class="btn btn-info" id="btnSend" ng-click="c.btnSend()">Send Message</button>
                </div>
            </div>
        </div>
    </div>
    <!-- CDN's -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.js"></script>

    <!-- Local -->
    <script src="Scripts/jquery-1.6.4.min.js"></script>
    <script src="Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="Scripts/main.js"></script>
    <script src="signalr/hubs"></script>
    <!--       -->
    <!--<script>
        try {
            var chat = $.connection.ConnectorHub;
            // Action to receive messages
            chat.client.recieveMessage = function (message) {
                $('#incomingData').append($('<p />').text(message));
            }
            // Init Connection
            $.connection.hub.start().done(function () {
                // On button click sends a message
                $('#btnSend').click(function () {
                    chat.server.sendMessage($('#message').val());
                })
            });
            $('#onlineOffline').append("Connected");
            $('#onlineOffline').css('color', 'green');
        }
        catch (err) {
            console.log("SignalR hub is not running");
            $('#onlineOffline').append("Not Connected");
            $('#onlineOffline').css('color', 'red');

        }
    </script>-->
</body>

</html>